body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(226, 101, 43);
    font-family: Arial, sans-serif;
}

.form-container {
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.form-container input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-container button {
    padding: 10px;
    width: 100px;
    background-color: rgb(187, 49, 49);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: rgb(150, 40, 40);
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}
